@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outlinee {
    @apply text-white;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7),
      1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7),
      1px 1px 0 rgba(255, 255, 255, 0.7);
  }
}

@layer utilities {
  @supports ((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .outlinee {
      @apply text-transparent;
      -webkit-text-stroke: 2px rgba(255, 255, 255, 0.7);
      text-stroke: 2px rgba(255, 255, 255, 0.7);
      text-shadow: none;
    }
  }
}
